.logo {
  color: white;
  font-weight: bold;
}

.content {
  min-height: calc(100vh - 64px - 68px);
  background: #fff;

  padding: 24px 50px;
}

@media only screen and (max-width: 575px) {
  .content {
    padding: 24px 18px;
  }

  :global(.ant-layout-header) {
    padding: 0 18px;
  }

  .content :global(.ant-card-body) {
    padding: 16px;
  }
}

.footer {
  text-align: center;
}

.profile {
  color: #a0ebf1;
  padding: 10px;
  line-height: 1;
  border: 1px solid #a0ebf1;
  border-radius: 4px;
  margin-top: 14px;
  float: right;
}

.profile > i {
  margin-right: 6px;
}
